<header class="header-area header-wrapper">
  <div class="header-top-bar bg-white">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="logo">
            <!--            <img src="images/logo/logo.png" alt="">-->
          </div>
        </div>
        <div class="col-md-6 hidden-sm hidden-xs">
          <div class="company-info clearfix">
            <div class="company-info-item">
              <div class="header-icon">
                <!--                <img src="images/icons/phone.png" alt="">-->
              </div>
              <div class="header-info">
                <h6 class="f1">+88 (012) 564 979 56</h6>
                <p class="f1">Giờ mở cửa 9 am - 10pm</p>
              </div>
            </div>
            <div class="company-info-item">
              <div class="header-icon">
                <!--                <img src="images/icons/mail-open.png" alt="">-->
              </div>
              <div class="header-info">
                <h6 class="f1"><a href="mailto:hnasir770@gmail.com">info@sheltek.com</a></h6>
                <p class="f1">Bạn có thể gửi thư cho chúng tôi</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="header-search clearfix">
            <form action="#">
              <button class="search-icon" type="submit">
                <!--                <img src="images/icons/search.png" alt="">-->
              </button>
              <input type="text" placeholder="Tìm kiếm...">
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="sticky-header" class="header-middle-area  transparent-header hidden-xs">
    <div class="container">
      <div class="full-width-mega-drop-menu">
        <div class="row">
          <div class="col-md-12">
            <div class="sticky-logo">
              <a href="index.html">
                <!--                <img src="images/logo/logo.png" alt="">-->
              </a>
            </div>
            <nav id="primary-menu">
              <ul class="main-menu text-center">
                <li class="mega-parent f1" onclick="backHome()"><a href="#">Nhà</a>
                </li>
                <li class="f1 mega-parent f1"><a href="#">Các yếu tố</a>

                  <ul class="f1 drop-menu">
                    <li><a href="elements-accordion.html">Đại lý</a></li>
                    <li><a href="elements-agent.html">Agent</a></li>
                    <li><a href="elements-alerts.html">Cảnh báo</a></li>
                    <li><a href="elements-audio.html">Âm thanh</a></li>
                    <li><a href="elements-call-to-actions.html">Kêu gọi hành động</a></li>
                    <li><a href="elements-contact-1.html">Liên hệ</a></li>
                  </ul>

                </li>
                <li class="f1"><a href="service.html">Dịch vụ</a>
                  <ul class="drop-menu">
                    <li class="f1"><a href="service.html">Dịch vụ</a></li>
                    <li class="f1"><a href="service-details.html">Chi tiết dịch vụ</a></li>
                  </ul>
                </li>
                <li class="f1"><a href="properties.html">Tính chất</a>
                  <ul class="f1 drop-menu">
                    <li><a href="properties.html">Tính chất</a></li>
                    <li><a href="properties-left-sidebar.html">Thuộc tính bên trái thanh bên</a></li>
                    <li><a href="properties-right-sidebar.html">Thuộc tính thanh bên phải</a>
                    </li>
                    <li><a href="properties-details.html">Chi tiết thuộc tính</a></li>
                  </ul>
                </li>
                <li class="f1"><a href="#">Thể loại</a>
                  <ul class="drop-menu">
                    <li *ngFor="let ct of categories" class="f1"><a routerLink="">{{ct.name}}</a></li>
                  </ul>
                </li>
                <li class="f1"><a href="#">Trang của</a>
                  <ul class="drop-menu menu-right">
                    <li><a href="about.html">Về</a></li>
                    <li><a href="agent.html">Category</a></li>
                    <li><a href="agent-details.html">Chi tiết đại lý</a></li>
                    <li><a href="features.html">Đặc trưng</a></li>
                    <li><a href="service.html">Dịch vụ</a></li>
                    <li><a href="service-details.html">Chi tiết dịch vụ</a></li>
                    <li class="f1"><a href="" onclick="login()">Đăng nhập</a></li>

                    <li class="f1"><a href="" onclick="logout()">Đăng xuất</a></li>
                  </ul>
                </li>
                <li class="f1"><a href="blog.html">Blog</a>
                  <ul class="drop-menu menu-right">
                    <li><a href="blog.html">Blog</a></li>

                    <li><a href="single-blog.html">Single Bloge</a></li>
                  </ul>
                </li>
                <li class="f1" id="logout"><a href="#" onclick="logout()">Đăng xuất</a></li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

