


<div class="properties-details-area pt-115 pb-60">
  <div class="container">
<div class="row">
  <button class="btn-primary" onclick="back1()" style="width: 100px">Quay lại</button>
</div>
<div class="row mt-5 ml-5">
  <div class="col-md-8">
    <div class="row">
      <!--                             pro-details-image -->
      <div class="pro-details-image mb-60">
        <div class="pro-details-big-image">

          <div  style=" float: left;margin-top: 10px;margin-right: 13.4px !important;"
            class="tab-content" *ngFor=" let img of image,index as i">
            <div role="tabpanel" class="tab-pane fade in active" id="pro-{{i}}">
              <a href="../../../../assets/images/{{img.links}}" data-lightbox="image-1" data-title="Sheltek Properties - {{i+1}}" >
                <img src="../../../../assets/images/{{img.links}}" alt="">
              </a>
            </div>
          </div>
        </div>

      </div>

      <div id="orderInformation"></div>
     <app-order [idH]="home?.id" ></app-order>
      <!-- pro-details-short-info -->
      <div class="pro-details-short-info mb-60">
        <div class="row">
          <div class="col-sm-6 col-xs-12">
            <div class="pro-details-condition">
              <h5 class="f1 f6">Tình trạng</h5>
              <div class="pro-details-condition-inner bg-gray" id="detail">
                <ul class="f1 condition-list">
                  <li><img src="../../../../assets/images/icons/13.png" alt="">Diện tích :{{home.area}}</li>
                  <li><img src="../../../../assets/images/icons/5.png" alt="">Phòng ngủ :{{home.bedroom}}</li>
                  <li><img src="../../../../assets/images/icons/6.png" alt="">Phòng tắm :{{home.showerRoom}}</li>
                  <li><img src="../../../../assets/images/icons/7.png" alt="">Ga-ra  : 1</li>
                  <li><img src="../../../../assets/images/icons/14.png" alt="">Phòng bếp :2</li>
                  <li>Giá  : {{home.price}} VNĐ</li>
                </ul>
                <p><img src="../../../../assets/images/icons/location.png" alt=""> {{home.address}}</p>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-xs-12">
            <div class="pro-details-amenities">
              <h5 class="f1 f6">Tiện nghi</h5>
              <div class="pro-details-amenities-inner bg-gray">
                <ul class="f1 amenities-list">
                  <li>Điều hòa nhiệt độ</li>
                  <li>Chăn ga gối đệm</li>
                  <li>Ban công</li>
                  <li>Truyền hình cáp</li>
                  <li>Internet</li>
                  <li>Chỗ đậu xe</li>
                  <li>Hồ bơi</li>
                  <li>Hồ bơi</li>
                  <li>Máy rửa chén</li>
                  <li>Máy nướng bánh mì</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- pro-details-description -->
    </div>
    <div class="pro-details-description mb-50">
      <p><span data-placement="top" data-toggle="tooltip" data-original-title="The name you can trust" class="tooltip-content">Sheltek</span> is  ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut quipx ea codo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolo</p>
      <p>Sheltek is the Best  should be the consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacm emod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniamco laboris nisi ut aliqu</p>
      <p>Sheltek is the Best  should be the consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore lore magna iqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex eacm</p>
    </div>
    <!-- pro-details-feedback -->
    <div class="pro-details-feedback mb-40" id="comment">

    </div>
    <!-- agent-review -->
    <div class="pro-details-agent-review">
      <div class="row">
        <div class="media" *ngFor="let cmt of comment">
          <a class="media-left" href="#">
            <img width="81px" height="72px" src="https://thuthuatnhanh.com/wp-content/uploads/2020/09/hinh-avatar-trang-cho-nam-va-con-than-lan.jpg" alt="">
          </a>
          <div class="media-body">
            <p class="media-heading" ><a class="f1 f5" href="#" style="font-size: 20px" > Tài khoản: {{cmt.user?.username}} </a></p>
            <p class="f1"><span class="f1 f4" style="font-size: 20px">Lúc: {{cmt.time}}</span>{{cmt.content}}</p>
          </div>
        </div>
        <div class="col-md-7  col-sm-7 col-xs-12">
          <div class="leave-review">
            <h5 class="f1">Bình luận của bạn</h5>
            <form action="#">

              <input type="text" id="contentComment">
              <button type="button" class="f1 submit-btn-1" onclick="comment()">BÌNH LUẬN</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-4">
    <!-- widget-featured-property -->
    <aside class="widget widget-featured-property">
      <h5 class="f1">5 căn nhà có đánh giá cao nhất</h5>
      <div class="row" id="list5Home" *ngFor="let hm of homes">
        <div class="col-md-12 col-sm-6 col-xs-12">
          <div class="flat-item">
            <div class="flat-item-image">
                            <span style="  font-family: 'Comforter', cursive;
                             font-family: 'Open Sans', sans-serif;"
                                  class="for-sale">{{hm.statusHome?.name}}</span>
              <img src="../../../../assets/images/avatar/avt1.jpg" class="img-fluid"/>
              <div class="flat-link">
                <a class="f1"  href="#" >Xem chi tiết</a>
              </div>
              <ul class="flat-desc">
                <li>
                  <img src="assets/images/icons/4.png" alt="">
                  <span class="f1">{{hm.description}}</span>
                </li>
                <li>
                  <img src="assets/images/icons/5.png" alt="">
                  <span class="f1">{{hm.bedroom}}</span>
                </li>
                <li>
                  <img src="assets/images/icons/6.png" alt="">
                  <span class="f1">{{hm.showerRoom}}</span>
                </li>
              </ul>
            </div>
            <div class="flat-item-info">
              <div class="flat-title-price">
                <h5><a class="f1" href="properties-details.html">{{hm.name}}</a></h5>
                <span class="f1 price">{{hm.price}}VNĐ</span>
              </div>
              <p class="f1"><img src="assets/images/icons/location.png" alt="">{{hm.address}}</p>
            </div>
          </div>
        </div>
      </div>
    </aside>
    <!-- widget-video -->
    <aside class="widget widget-video">
    </aside>
  </div>
</div>
  </div>
  </div>
